{% extends 'main.html' %}

{% block title %} OTS- Candidate Home Page {% endblock %}

{% block top %}
<a href="{% url 'OTS:home' %}">Home</a>
<a href="{% url 'OTS:Logout' %}">Logout</a>
{% endblock %}
{% block content %}
<h1>Welcome  to your home page</h1>
<div class="button-link">
  <a href="{% url 'OTS:testPaper' %}?n=1">Test of 1 Question</a>
</div>
<div class="button-link">
  <a href="{% url 'OTS:testPaper' %}?n=2">Test of 2 Question</a>
</div>
<div class="button-link">
  <a href="{% url 'OTS:testPaper' %}?n=3">Test of 3 Question</a>
</div>

<div class="button-link">
  <a href="{% url 'OTS:testhistory' %}">Test History</a>
</div>
{% endblock %}