form{
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  background-color:indigo ;
  color: white;
  display: table;
  width: 100%;
}
input{
  display: block;
  width: 100%;
  margin-bottom: 20px;
  right: 30px;
  font-size: 25px;
}
.question{
  color: #F64C72;
  font-size: 22px;
  margin-bottom: 20px;


}
.options{
  font-size: 22px;
  color: black;
}
.options input{
  display: inline;
  width: fit-content;
  height: 10px;

}